* {
    margin: 0;
    padding: 0;
}

body {

    background-image: linear-gradient(to bottom ,rgba(255, 255, 255, 0.925),rgba(97, 97, 97, 0.911)),
    linear-gradient(45deg,  rgba(51, 13, 51, 0.795),rgba(71, 29, 29, 0.849));
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;

}